<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.crypstal.api.CandleMapper">
	
	<resultMap id="candle" type="org.ta4j.core.BaseBar">
		<constructor>
   			<arg column="end_time" javaType="java.time.ZonedDateTime"/>
   			<arg column="open_price" javaType="_double"/>
   			<arg column="max_price" javaType="_double"/>
   			<arg column="min_price" javaType="_double" />
   			<arg column="close_price" javaType="_double"/>
   			<arg column="volume" javaType="_double"/>
		</constructor>
	</resultMap>
 
	<select id="selectListBithumbBTC10SEC"  resultMap="candle">
		SELECT end_time, open_price, close_price, max_price, min_price, volume FROM bithumbbtc_10sec
		<choose>
			<when test="from != null and to != null">
			WHERE end_time BETWEEN #{from} AND #{to}
			</when>
			<when test="from == null and to != null">
			WHERE end_time <![CDATA[<]]> #{to}
			</when>
		</choose>
		ORDER BY end_time DESC
		<if test="from == null">
			LIMIT 0, #{count}
		</if>
	</select>
	
	<select id="selectLatestBithumbBTC10SEC" resultMap="candle">
		SELECT end_time, open_price, close_price, max_price, min_price, volume FROM bithumbbtc_10sec
		ORDER BY end_time DESC 
		LIMIT 0, #{count}    
	</select>
	
	<insert id="insertOrUpdateBithumbBTC10SEC" parameterType="MutableBaseBar">
		INSERT INTO bithumbbtc_10sec (end_time, open_price, close_price, max_price, min_price, volume) 
		VALUES (#{endTime}, #{openPrice}, #{closePrice}, #{maxPrice}, #{minPrice}, #{volume})
		ON DUPLICATE KEY UPDATE 
			close_price=#{closePrice}, max_price=#{maxPrice}, min_price=#{minPrice}, volume=#{volume}
	</insert>
	
	<insert id="insertOrUpdateBithumbBTC30SEC" parameterType="MutableBaseBar">
		INSERT INTO bithumbbtc_30sec (end_time, open_price, close_price, max_price, min_price, volume) 
		VALUES (#{endTime}, #{openPrice}, #{closePrice}, #{maxPrice}, #{minPrice}, #{volume})
		ON DUPLICATE KEY UPDATE 
			close_price=#{closePrice}, max_price=#{maxPrice}, min_price=#{minPrice}, volume=#{volume}
	</insert>
	
	<insert id="insertOrUpdateBithumbBTC1MIN" parameterType="MutableBaseBar">
		INSERT INTO bithumbbtc_1min (end_time, open_price, close_price, max_price, min_price, volume) 
		VALUES (#{endTime}, #{openPrice}, #{closePrice}, #{maxPrice}, #{minPrice}, #{volume})
		ON DUPLICATE KEY UPDATE 
			close_price=#{closePrice}, max_price=#{maxPrice}, min_price=#{minPrice}, volume=#{volume}
	</insert>
	
	<insert id="insertOrUpdateBithumbBTC3MIN" parameterType="MutableBaseBar">
		INSERT INTO bithumbbtc_3min (end_time, open_price, close_price, max_price, min_price, volume) 
		VALUES (#{endTime}, #{openPrice}, #{closePrice}, #{maxPrice}, #{minPrice}, #{volume})
		ON DUPLICATE KEY UPDATE 
			close_price=#{closePrice}, max_price=#{maxPrice}, min_price=#{minPrice}, volume=#{volume}
	</insert>
	
</mapper>